<ul id="jMenu">
	<li>
		<a href="{{path('proyecto_front_homepage')}}" class="fNiv {%if menu == 'inicio'%}active{%endif%}">Inicio
		<br />
		<span class="smallText">General</span></a>
	</li>
	<li>
		<a href="{{path('proyecto_front_organizacion')}}" class="fNiv {%if menu == 'organizacion'%}active{%endif%}">La Organizaci&oacute;n
		<br />
		<span class="smallText">Sobre nosotros</span></a>
	</li>
	<li>
		<a href="{{path('proyecto_front_informacion')}}"  class="fNiv {%if menu == 'informacion'%}active{%endif%}">Informaci&oacute;n
		<br />
		<span class="smallText">Noticias varias</span></a>
	</li>

	<li>
		<a href="{{path('proyecto_front_descargas')}}" class="fNiv {%if menu == 'descargas'%}active{%endif%}">Descargas
		<br />
		<span class="smallText">Planillas / Formatos</span></a>
	</li>
	<li>
		<a href="{{path('proyecto_front_contacto')}}" class="fNiv {%if menu == 'contacto'%}active{%endif%} last">Contacto
		<br />
		<span class="smallText">Env&iacute;e su mensaje</span></a>
								
	</li>
</ul>
